@model IEnumerable<CafeAspNet.Models.Dish>

<ul id="categories">
    @foreach (var dish in Model)
    {
         <div id="type-details"> <p>
		 <b>@String.Format("{0:F}", dish.Title)</b><p>
         <em>Price:</em>
         @String.Format("{0:F}", dish.Price)
         </p>
         <p class="button">
         @Html.ActionLink("Add to cart", "AddToCart", 
         "ShoppingCart", new { id = dish.Id }, "")
         </p>
         </div>
    }
</ul>
